{% extends "base.html" %}
{% load static %}
{% block titulo %}Detalles de la Aerolínea{% endblock %}

{% block contenido %}
  <section class="about_section">
    <div class="container-fluid">
        <div class="row justify-content-center"> 
        <!-- Información de la aerolínea -->
        <div class="detail-box detail_box_common col-lg-6 col-md-8 text-center">
          <div class="heading_container heading_center">
            <h2>{{ airline.nombre }}</h2> <!-- Nombre de la aerolínea -->
          </div>
          <p><strong>Descripción:</strong> {{ airline.descripcion }}</p>
            <p><strong>Origen:</strong> 
            <a href="{% url 'show_pais' airline.pais.id %}" class="black-link">{{ airline.pais.nombre }}</a>
           </p>


          <h3>Aeropuertos donde opera:</h3>
          <ul>
            {% for aeropuerto in airports %}
              <li>
                <a href="{% url 'show_aeropuerto' aeropuerto.id %}" class="black-link">{{ aeropuerto.nombre }}<br></a>
              </li>
		
            {% empty %}
              <li>No hay aeropuertos disponibles.</li>
            {% endfor %}
          </ul>

          <p><strong>Flota:</strong> {{ airline.flota }}</p>

          <a id="back-button" href="{% url 'index_aerolineas' %}" class="black-link">Volver a la lista de Aerolineas</a>

        </div>

      </div>
    </div>
  </section>
{% endblock %}
