{% extends "base.html" %}
{% load static %}
{% block titulo %}Detalles de la Aerolínea{% endblock %}

{% block contenido %}
  <section class="about_section">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="height: 100vh;"> <!-- Centra el contenido vertical y horizontalmente -->

        <!-- Información de la aerolínea -->
        <div class="detail-box detail_box_common col-lg-6 col-md-8 text-center">
          <div class="heading_container heading_center">
            <h2>{{ airline.nombre }}</h2> <!-- Nombre de la aerolínea -->
          </div>
          <p><strong>Descripción:</strong> {{ airline.descripcion }}</p>
          <p><strong>Origen:</strong> {{ airline.pais }}</p>

          <h3>Aeropuertos donde opera:</h3>
          <ul>
            {% for aeropuerto in airports %}
              <li>{{ aeropuerto.nombre }}</li>
            {% empty %}
              <li>No hay aeropuertos disponibles.</li>
            {% endfor %}
          </ul>

          <p><strong>Flota:</strong> {{ airline.flota }}</p>

          <a id="back-button" href="{% url 'index_aerolineas' %}">Volver a la lista de Aerolíneas</a>
        </div>

      </div>
    </div>
  </section>
{% endblock %}
