{% extends "base.html" %}
{% load static %}

{% block titulo %}Detalles de {{ aeropuerto.nombre }}{% endblock %}

{% block contenido %}
  <section class="about_section">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="height: 100vh;"> <!-- Centra el contenido vertical y horizontalmente -->

        <!-- Información del aeropuerto -->
        <div class="detail-box detail_box_common col-lg-6 col-md-8 text-center">
          <div class="heading_container heading_center">
            <h2>Detalles de {{ aeropuerto.nombre }}</h2> <!-- Nombre del aeropuerto -->
          </div>
          <p><strong>Código IATA:</strong> {{ aeropuerto.codigo }}</p>
          <p><strong>Ubicación:</strong> {{ aeropuerto.pais }}</p>
		  
          <p><strong>Origen:</strong> 
            <a href="{% url 'show_pais' aeropuerto.pais.id %}" class="black-link">{{ aeropuerto.pais.nombre }}</a>
          </p>
		  
          <p><strong>Teléfono:</strong> {{ aeropuerto.tlf }}</p>

          <h3>Aerolíneas asociadas:</h3>
          <ul>
            {% for aerolinea in aeropuerto.aerolineas.all %}
              <li>
                <a href="{% url 'show_aerolinea' aerolinea.id %}" class="black-link">{{ aerolinea.nombre }}<br></a>
              </li>
            {% empty %}
              <li>No hay aerolíneas asociadas a este aeropuerto.</li>
            {% endfor %}
          </ul>

          <a id="back-button" href="{% url 'index_aeropuerto' %}" class="black-link">Volver a la lista de Aeropuertos</a>
        </div>

      </div>
    </div>
  </section>

{% endblock %}
