<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Bienvenido a Volare{% endblock %}</title>
    {% load static %}
    
    <!-- Enlace a Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    
    <!-- Para favicon png -->
    <link rel="shortcut icon" type="image/icon" href="{% static 'css/favicon.png' %}">

    <!-- Enlaces a las hojas de estilo -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
</head>

<body>
  <header class="header_section">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <div class="custom_menu-btn">
          <button onclick="openNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
          </button>
      </div>
      <div id="myNav" class="overlay">
          <div class="menu_btn-style">
              <button onclick="closeNav()">
                  <span class="s-1"> </span>
                  <span class="s-2"> </span>
                  <span class="s-3"> </span>
              </button>
          </div>
          <div class="overlay-content">
              <a class="active" href="{% url 'index' %}">Home</a>
              <a href="{% url 'index_paises' %}">Paises</a>
              <a href="{% url 'index_aerolineas' %}">Aerolineas</a>
              <a href="{% url 'index_aeropuerto' %}">Aeropuertos</a>
          </div>
      </div>
      <a class="navbar-brand" href="{% url 'index' %}">
          <span>Volare</span>
      </a>
      <a href="tel:123456789" class="call_btn">Call Us Now</a>
    </nav>
  </header>

{% block contenido %}{% endblock %}

 <div style="height: 60px;"></div>

 <footer class="footer_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6">
          <p>
            &copy; <span id="displayYear"></span> All Rights Reserved. Designed with care
            by Volare team
          </p>
        </div>
        <div class="col-xl-6">
          <div class="link_box">
            <a class="" href="{% url 'index' %}">
              Home
            </a>
            <a class="" href="{% url 'index_paises' %}">
              Paises
            </a>
            <a class="" href="{% url 'index_aerolineas' %}">
              Aerolineas
            </a>
            <a class="" href="{% url 'index_aeropuerto' %}">
              Aeropuertos
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="{% static 'js/custom.js' %}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
	
</body>
</html>
