<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load i18n %}
	{% load static %}

    <!-- Título sin la etiqueta trans dentro del bloque -->
    <title>{% block titulo %}{% trans "Bienvenido a Volare" %}{% endblock %}</title>
    
    <!-- Enlace a Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    
    <!-- Para favicon png -->
    <link rel="shortcut icon" type="image/icon" href="{% static 'css/favicon.png' %}">

    <!-- Enlaces a las hojas de estilo -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
</head>

<body>
  <header class="header_section">
    <!-- Formulario de cambio de idioma -->
    <form action="{% url 'set_language' %}" method="post" style="display: inline-block; margin-right: 20px;">
        {% csrf_token %}
        <select name="language">
            <option value="es" {% if LANGUAGE_CODE == 'es' %}selected{% endif %}>Español</option>
            <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
        </select>
        <button type="submit">{% trans "Cambiar idioma" %}</button>
    </form>

    <!-- Búsqueda dinámica -->
    <div class="search_section" style="display: inline-block;">
        <button id="toggle-search" class="btn btn-primary">
            {% trans "Buscar" %}
        </button>
        <form id="search-form" style="display: none; margin-left: 20px;" class="form-inline">
            <input 
                type="text" 
                id="search-input" 
                class="form-control mr-sm-2" 
                placeholder="{% trans 'Busca países, aeropuertos o aerolíneas' %}">
            <button type="submit" class="btn btn-success">
                {% trans "Buscar" %}
            </button>
        </form>
        <div id="search-results" class="search-results"></div>
    </div>

    <!-- Menú de navegación -->
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <div class="custom_menu-btn">
          <button onclick="openNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
          </button>
      </div>
      <div id="myNav" class="overlay">
          <div class="menu_btn-style">
              <button onclick="closeNav()">
                  <span class="s-1"> </span>
                  <span class="s-2"> </span>
                  <span class="s-3"> </span>
              </button>
          </div>
          <div class="overlay-content">
              <a class="active" href="{% url 'index' %}">{% trans "Inicio" %}</a>
              <a href="{% url 'index_paises' %}">{% trans "Paises" %}</a>
              <a href="{% url 'index_aerolineas' %}">{% trans "Aerolineas" %}</a>
              <a href="{% url 'index_aeropuerto' %}">{% trans "Aeropuertos" %}</a>
          </div>
      </div>
      <a class="navbar-brand" href="{% url 'index' %}">
          <span>Volare</span>
      </a>
      <a href="tel:123456789" class="call_btn">{% trans "Llamanos ahora" %}</a>
    </nav>
  </header>

  <!-- Bloque de contenido -->
  {% block contenido %}{% endblock %}

  <div style="height: 60px;"></div>

  <!-- Pie de página -->
  <footer class="footer_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6">
          <p>
            &copy; <span id="displayYear"></span> {% trans "Todos los derechos reservados. Diseñado con cariño por el grupo Volare" %}
          </p>
        </div>
        <div class="col-xl-6">
          <div class="link_box">
            <a href="{% url 'index' %}">{% trans "Inicio" %}</a>
            <a href="{% url 'index_paises' %}">{% trans "Paises" %}</a>
            <a href="{% url 'index_aerolineas' %}">{% trans "Aerolineas" %}</a>
            <a href="{% url 'index_aeropuerto' %}">{% trans "Aeropuertos" %}</a>
			<a href="{% url 'lista_formularios' %}">{% trans "Formularios" %}</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="{% static 'js/custom.js' %}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>

</body>
</html>
