{% extends "base.html" %}
{% load static %}

{% block titulo %}{{ pais.nombre }}{% endblock %}

{% block contenido %}
  <section class="about_section">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="height: 100vh;"> <!-- Centra el contenido vertical y horizontalmente -->

        <div class="detail-box detail_box_common col-lg-6 col-md-8 text-center">
          <div class="heading_container heading_center">
            <h2 style="text-align: center; font-weight: bold; text-transform: uppercase; margin: 0 auto;">
              {{ pais.nombre }}
            </h2>
            <p>
            <p>
            <img src="{{ pais.imagen.url }}" alt="Bandera de {{ pais.nombre }}" class="flag-image">
			 
            <hr>
          </div>

          <p><strong>Capital:</strong> {{pais.capital}}</p>
          <p>{{pais.descripcion}}</p>

          <h3>Aerolíneas Principales</h3>
          <ul>
            {% for aerolinea in pais.aerolinea_set.all %}
            <li>
              <a href="{% url 'show_aerolinea' aerolinea.id %}" class="black-link">{{ aerolinea.nombre }}</a>
            </li>			
            {% empty %}
              <li>No hay aerolíneas disponibles. </li>
            {% endfor %}
          </ul>
          
          <a id="back-button" href="{% url 'index_paises' %}" class="black-link">Volver a la lista de países</a>
        </div>
        
      </div>
    </div>
  </section>
{% endblock %}
