<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volare</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Logos de Aerolíneas</h1>

    <!-- Aerolíneas de España -->
    <h2>España</h2>
    <div class="airlines-grid">
        <div class="airline-item">
            <img src="{% static 'img/iberia_logo.png' %}" alt="Iberia logo">
            <h3>Iberia</h3>
        </div>
        <div class="airline-item">
            <img src="{% static 'img/airEuropa_logo.png' %}" alt="Air Europa logo">
            <h3>Air Europa</h3>
        </div>
    </div>

    <!-- Aerolíneas de Inglaterra -->
    <h2>Inglaterra</h2>
    <div class="airlines-grid">
        <div class="airline-item">
            <img src="{% static 'img/british_airways_logo.png' %}" alt="British Airways logo">
            <h3>British Airways</h3>
        </div>
        <div class="airline-item">
            <img src="{% static 'img/easyjet_logo.png' %}" alt="EasyJet logo">
            <h3>EasyJet</h3>
        </div>
    </div>

    <!-- Aerolíneas de Alemania -->
    <h2>Alemania</h2>
    <div class="airlines-grid">
        <div class="airline-item">
            <img src="{% static 'img/lufthansa_logo.png' %}" alt="Lufthansa logo">
            <h3>Lufthansa</h3>
        </div>
        <div class="airline-item">
            <img src="{% static 'img/germanwings_logo.png' %}" alt="Germanwings logo">
            <h3>Germanwings</h3>
        </div>
    </div>

    <!-- Aerolíneas de Francia -->
    <h2>Francia</h2>
    <div class="airlines-grid">
        <div class="airline-item">
            <img src="{% static 'img/air_france_logo.png' %}" alt="Air France logo">
            <h3>Air France</h3>
        </div>
        <div class="airline-item">
            <img src="{% static 'img/transavia_logo.png' %}" alt="Transavia logo">
            <h3>Volez</h3>
        </div>
    </div>

    <!-- Aerolíneas de Estados Unidos -->
    <h2>Estados Unidos</h2>
    <div class="airlines-grid">
        <div class="airline-item">
            <img src="{% static 'img/american_airlines_logo.png' %}" alt="American Airlines logo">
            <h3>American Airlines</h3>
        </div>
        <div class="airline-item">
            <img src="{% static 'img/delta_airlines_logo.png' %}" alt="Delta Airlines logo">
            <h3>Delta Airlines</h3>
        </div>
        <div class="airline-item">
            <img src="{% static 'img/united_airlines_logo.png' %}" alt="United Airlines logo">
            <h3>United Airlines</h3>
        </div>
    </div>

    <!-- Aerolíneas de Australia -->
    <h2>Australia</h2>
    <div class="airlines-grid">
        <div class="airline-item">
            <img src="{% static 'img/qantas_logo.png' %}" alt="Qantas logo">
            <h3>Qantas</h3>
        </div>
        <div class="airline-item">
            <img src="{% static 'img/virgin_australia_logo.png' %}" alt="Virgin Australia logo">
            <h3>Virgin Australia</h3>
        </div>
    </div>

    <!-- Aerolíneas de Qatar -->
    <h2>Catar</h2>
    <div class="airlines-grid">
        <div class="airline-item">
            <img src="{% static 'img/qatar_airways_logo.png' %}" alt="Qatar Airways logo">
            <h3>Qatar Airways</h3>
        </div>
    </div>

    <!-- Aerolíneas de Singapur -->
    <h2>Singapur</h2>
    <div class="airlines-grid">
        <div class="airline-item">
            <img src="{% static 'img/singapore_airlines_logo.png' %}" alt="Singapore Airlines logo">
            <h3>Singapore Airlines</h3>
        </div>
    </div>

    <!-- Aerolíneas de los Emiratos Árabes Unidos -->
    <h2>Emiratos Árabes Unidos</h2>
    <div class="airlines-grid">
        <div class="airline-item">
            <img src="{% static 'img/emirates_logo.png' %}" alt="Emirates logo">
            <h3>Emirates</h3>
        </div>
    </div>
</body>
</html>