
{% extends "base.html" %}
{% load static %}
{% block titulo %}Portada{% endblock %}

{% block contenido %}

<h2>Paises con sus aerolíneas más importantes</h2>

<ul>
    {% for pais, aerolinea in pais_aerolineas.items %}
        <li>
            <strong>{{ pais.nombre }}</strong>: 
            {% if aerolinea %}
                <a href="{% url 'show_aerolinea' aerolinea.id %}">{{ aerolinea.nombre }}</a> (Fundada el {{ aerolinea.fundacion }})
                
				<img img class="imagen-pequena" alt="{{ aerolinea.imagen.name }}" src="{% static aerolinea.imagen.name %}" />
					
            {% else %}
                Sin aerolíneas
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}

