<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volare</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	
</head>
<body>
    <header>
        <h1 style="color: white;">Bienvenido a Volare</h1>
    </header>
    <!-- Aerolíneas de España -->
     <h2>España</h2>
    <div class="airlines-grid">
        <div class="airline-item">
            <a href="{% url 'airline_detail' 'iberia' %}">
                <img src="{% static 'img/iberia_logo.png' %}" alt="Iberia logo"></a>
                <h3>Iberia</h3>
            
        </div>
		 <div class="airline-item">
		        <a href="{% url 'airline_detail' 'air_europa' %}">

            <img src="{% static 'img/airEuropa_logo.png' %}" alt="Air Europa logo"> </a>
            <h3>Air Europa</h3>
			

        </div>
    </div>
    

    <!-- Aerolíneas de Inglaterra -->
    <h2>Inglaterra</h2>
    <div class="airlines-grid">
        <div class="airline-item">
		            <a href="{% url 'airline_detail' 'british_airways' %}">

            <img src="{% static 'img/british_airways_logo.png' %}" alt="British Airways logo">
			</a>
            <h3>British Airways</h3>
		
        </div>
        <div class="airline-item">
				<a href="{% url 'airline_detail' 'easyjet' %}">

            <img src="{% static 'img/easyjet_logo.png' %}" alt="EasyJet logo"> 
			</a>
            <h3>EasyJet</h3>
        </div>
    </div>

    <!-- Aerolíneas de Alemania -->
    <h2>Alemania</h2>
    <div class="airlines-grid">
        <div class="airline-item">
		    <a href="{% url 'airline_detail' 'lufthansa' %}">

            <img src="{% static 'img/lufthansa_logo.png' %}" alt="Lufthansa logo">
			</a>
            <h3>Lufthansa</h3>
        </div>
        <div class="airline-item">
		 <a href="{% url 'airline_detail' 'germanwings' %}">
            <img src="{% static 'img/germanwings_logo.png' %}" alt="Germanwings logo">
			</a>
            <h3>Germanwings</h3>
        </div>
    </div>

    <!-- Aerolíneas de Francia -->
    <h2>Francia</h2>
    <div class="airlines-grid">
        <div class="airline-item">
		<a href="{% url 'airline_detail' 'air_france' %}">
            <img src="{% static 'img/air_france_logo.png' %}" alt="Air France logo">
			</a>
            <h3>Air France</h3>
        </div>
        <div class="airline-item">
				<a href="{% url 'airline_detail' 'transavia' %}">

            <img src="{% static 'img/transavia_logo.png' %}" alt="Transavia logo">
			</a>
            <h3>Transavia</h3>
        </div>
    </div>

    <!-- Aerolíneas de Estados Unidos -->
    <h2>Estados Unidos</h2>
    <div class="airlines-grid">
        <div class="airline-item">
		<a href="{% url 'airline_detail' 'american_airlines' %}">
            <img src="{% static 'img/american_airlines_logo.png' %}" alt="American Airlines logo">
			</a>
            <h3>American Airlines</h3>
        </div>
        <div class="airline-item">
		<a href="{% url 'airline_detail' 'delta_airlines' %}">
            <img src="{% static 'img/delta_airlines_logo.png' %}" alt="Delta Airlines logo">
			</a>
            <h3>Delta Airlines</h3>
        </div>
        <div class="airline-item">
		<a href="{% url 'airline_detail' 'united_airlines' %}">
		
            <img src="{% static 'img/united_airlines_logo.png' %}" alt="United Airlines logo">
		</a>
            <h3>United Airlines</h3>
        </div>
    </div>

    <!-- Aerolíneas de Australia -->
    <h2>Australia</h2>
    <div class="airlines-grid">
        <div class="airline-item">
				<a href="{% url 'airline_detail' 'qantas' %}">

            <img src="{% static 'img/qantas_logo.png' %}" alt="Qantas logo">
			</a>
            <h3>Qantas</h3>
        </div>
        <div class="airline-item">
		
		<a href="{% url 'airline_detail' 'virgin_australia' %}">

            <img src="{% static 'img/virgin_australia_logo.png' %}" alt="Virgin Australia logo">
		</a>
            <h3>Virgin Australia</h3>
        </div>
    </div>

    <!-- Aerolíneas de Qatar -->
    <h2>Catar</h2>
    <div class="airlines-grid">
        <div class="airline-item">
				<a href="{% url 'airline_detail' 'qatar_airways' %}">

            <img src="{% static 'img/qatar_airways_logo.png' %}" alt="Qatar Airways logo">
			</a>
            <h3>Qatar Airways</h3>
        </div>
    </div>

    <!-- Aerolíneas de Singapur -->
    <h2>Singapur</h2>
    <div class="airlines-grid">
        <div class="airline-item">
		<a href="{% url 'airline_detail' 'singapore_airlines' %}">
            <img src="{% static 'img/singapore_airlines_logo.png' %}" alt="Singapore Airlines logo">
			</a>
            <h3>Singapore Airlines</h3>
        </div>
    </div>

    <!-- Aerolíneas de los Emiratos Árabes Unidos -->
    <h2>Emiratos Árabes Unidos</h2>
    <div class="airlines-grid">
        <div class="airline-item">
				<a href="{% url 'airline_detail' 'emirates' %}">

            <img src="{% static 'img/emirates_logo.png' %}" alt="Emirates logo">
			</a>
            <h3>Emirates</h3>
        </div>
    </div>
	
	
	    
	<h1>Paises</h1>
<div class="country-grid">
    <div class="country-item">
	
	<a href="{% url 'country_detail' 'spain' %}">
	
        <img src="{% static 'img/españa.png' %}" alt="España">
		</a>
        <h3>España</h3>
    </div>
    <div class="country-item">
	
		<a href="{% url 'country_detail' 'england' %}">

        <img src="{% static 'img/inglaterra.png' %}" alt="Inglaterra">
		</a>
        <h3>Inglaterra</h3>
    </div>
    <div class="country-item">
			<a href="{% url 'country_detail' 'germany' %}">

        <img src="{% static 'img/alemania.png' %}" alt="Alemania">
		</a>
        <h3>Alemania</h3>
    </div>
    <!-- Añade más países según sea necesario -->
</div>


	
	

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Volare. Todos los derechos reservados.</p>
        <p>Contacto: info@volare.com</p>
    </footer>
</body>
</html>
