{% extends "base.html" %}

{% block titulo %}Lista de Países{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h2 class="text-center mb-4 title-style">Países en {{ pais.nombre }}</h2>
    <div class="row justify-content-center">
        <ul class="list-group list-group-flush col-md-8">
            {% for pais in lista_paises %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'show_pais' pais.id %}" class="text-decoration-none text-dark">
                        <strong>{{ pais.nombre }}</strong>
                    </a>
                    <span class="btn btn-custom">Ver más</span>
                </li>
            {% empty %}
                <li class="list-group-item text-center">
                    <em>No hay paises.</em>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
