{% extends "base.html" %}

{% block titulo %}Aeropuertos en {{ pais.nombre }}{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h2 class="text-center mb-4 title-style">Aeropuertos en {{ pais.nombre }}</h2>
    <div class="row justify-content-center">
        <ul class="list-group list-group-flush col-md-8">
            {% for aeropuerto in lista_aeropuertos %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'show_aeropuerto' aeropuerto.id %}" class="text-decoration-none text-dark">
                        <strong>{{ aeropuerto.nombre }}</strong>
                    </a>
                    <a href="{% url 'show_aeropuerto' aeropuerto.id %}" class="btn btn-custom text-decoration-none">
                        Ver más
                    </a>
                </li>
            {% empty %}
                <li class="list-group-item text-center">
                    <em>No hay aeropuertos disponibles en este momento.</em>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}
